.wrapper {
    font-family: Arial, sans-serif;
    text-align: center;
}
.year {
    display: inline-block;
    transition: color 0.5s;
}
.date-time {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000;
    transition: background-color 0.5s;
}
.completed {
    background-color: green;
}
.ongoing {
    background-color: yellow;
}
.coming {
    background-color: red;
}
.year{
    font-size: 50px;
    font-weight: large;
}