body{
    padding: 0 128px;
    margin: 0 auto;
}

#output{
    font-size: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid black;
}